/.metadata/
*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
BasicTutorial/.gradle/2.14.1/taskArtifacts/cache.properties
BasicTutorial/.gradle/2.14.1/taskArtifacts/cache.properties.lock
BasicTutorial/.gradle/2.14.1/taskArtifacts/fileHashes.bin
BasicTutorial/.gradle/2.14.1/taskArtifacts/fileSnapshots.bin
BasicTutorial/.gradle/2.14.1/taskArtifacts/fileSnapshotsToTreeSnapshotsIndex.bin
BasicTutorial/.gradle/2.14.1/taskArtifacts/taskArtifacts.bin
BasicTutorial/gradle/wrapper/gradle-wrapper.properties
BasicTutorial/gradlew
BasicTutorial/gradlew.bat
BasicTutorial/.gradle/buildOutputCleanup/outputFiles.bin
BasicTutorial/.gradle/4.4/taskHistory/taskHistory.lock
BasicTutorial/.gradle/4.4/fileHashes/fileHashes.lock
BasicTutorial/.gradle/4.4/taskHistory/taskHistory.bin
BasicTutorial/.gradle/4.4/fileHashes/fileHashes.bin
BasicTutorial/.gradle/4.4/fileChanges/last-build.bin
BasicTutorial/.gradle/3.5/taskHistory/taskHistory.lock
BasicTutorial/.gradle/3.5/file-changes/last-build.bin
BasicTutorial/.gradle/buildOutputCleanup/buildOutputCleanup.lock
BasicTutorial/.gradle/buildOutputCleanup/built.bin
BasicTutorial/.gradle/buildOutputCleanup/cache.properties
BasicTutorial/.gradle/buildOutputCleanup/cache.properties.lock
BasicTutorial/.idea/encodings.xml
BasicTutorial/.idea/gradle.xml
BasicTutorial/.idea/misc.xml
BasicTutorial/.idea/modules.xml
BasicTutorial/.idea/vcs.xml
BasicTutorial/.idea/workspace-DESKTOP-CV57V7N.xml
BasicTutorial/.idea/workspace.xml
BasicTutorial/BasicTutorial.iml
